
    <!-- Footer -->
    <footer class="mt-auto bg-dark">

        <div class="text-center p-3 row ">
            <div class="col-sm-4">
            <span class="text-white">© 2022 Copyright:</span>   
            <a class="text-white" href="https://santoblockchain.com/" target="_blank"><img class="img-fluid" src="../../../../../assets/images/santo_logo.png" width="40">Santo Blockchain Labs</a>
        </div>
        <div class="col-sm-4">
                        <!-- Instagram -->
                        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
                          ><fa-icon [icon]="faInstagram"></fa-icon></a>
                  
                        <!-- Telegram -->
                        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
                          ><fa-icon [icon]="faTelegram"></fa-icon></a>
                  
                        <!-- Facebook -->
                        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
                          ><fa-icon [icon]="faFacebook"></fa-icon></a>
                        
                        <!-- Twitter -->
                        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
                          ><fa-icon [icon]="faTwitter"></fa-icon></a>
        
                        <!-- Youtube -->
                        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
                          ><fa-icon [icon]="faYoutube"></fa-icon></a>
                    </div>
          </div>
          <!-- Copyright -->
          </footer>
          <!-- Footer -->
        